image:
  registry: ${DOCKER_REGISTRY_URL}
  tag: ${SENZING_DOCKER_IMAGE_VERSION_CONFIGURATOR}

imagePullSecrets:
  - name: ${DOCKER_REGISTRY_SECRET}

senzing:
  engineConfigurationJson: >-
    {
      "PIPELINE": {
        "CONFIGPATH": "/etc/opt/senzing",
        "RESOURCEPATH": "/opt/senzing/g2/resources",
        "SUPPORTPATH": "/opt/senzing/data"
      },
      "SQL": {
        "BACKEND": "HYBRID",
        "CONNECTION": "sqlite3://na:na@/var/opt/senzing/sqlite/G2C.db"
      },
      "C1": {
        "CLUSTER_SIZE": "1",
        "DB_1": "sqlite3://na:na@/var/opt/senzing/sqlite/G2C_RES.db"
      },
      "C2": {
        "CLUSTER_SIZE": "1",
        "DB_1": "sqlite3://na:na@/var/opt/senzing/sqlite/G2C_LIBFEAT.db"
      },
      "HYBRID": {
        "RES_FEAT": "C1",
        "RES_FEAT_EKEY": "C1",
        "RES_FEAT_LKEY": "C1",
        "RES_FEAT_STAT": "C1",
        "LIB_FEAT": "C2",
        "LIB_FEAT_HKEY": "C2"
      }
    }
  persistentVolumeClaim: senzing-persistent-volume-claim
  subcommand: service
